"""Local settings module.

Rename this module file to *settings_local.py* to apply the settings. This module loads the default
settings and overwrites all values specified here.
"""
from vwkommi.settings_default import * # pylint: disable=wildcard-import,unused-wildcard-import

# VW user data
VW_USERNAME = 'example_user'
VW_PASSWORD = 'example_password'

# known request prefixes
PREFIX_LIST = [185, 900, 877, 902] # known prefixes for ID.3/4/5
#PREFIX_LIST = [184] # known for ID.Buzz
#PREFIX_LIST = [188] # known prefix for Tiguan
#PREFIX_LIST = [183] # known for Golf 8

# skip requesting extra details for cars with VIN like line drawings
SKIP_VIN_DETAILS = True

# commission number range
COMMISSION_NUMBER_RANGE = [
    ('AF', 5000, 9999, 4),
    ('AG', 0, 9999, 4),
    ('AH', 0, 9999, 4),
    ('AI', 0, 9999, 4),
    ('AJ', 0, 9999, 4),
    ('AK', 0, 9999, 4),
    ('AL', 0, 9999, 4),
    ('AM', 0, 9999, 4)
]
